
.card {
    background: #E3E3E3;
    border: none;
    border-radius: 15px;
    .button_open_account {
        background: none;
        border: solid 3px #FFFFFF;
        color: #FFFFFF;
        margin: 35px;
        margin-left: 70px;
        margin-right: 70px;
        border-radius: 10px;
        font-weight: bold;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        &:hover {
            color: #E3E3E3;
            background: #FFFFFF;
        }
    }
}


