body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav{
    width: 100%;
    height: 60px;
    background: #01B875;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        text-decoration: none;
        color: white;
        margin-right: 15px;
    }
    .logo {
        display: flex;
        align-items: center;
        padding-left: 15px;
        color: white;
        .name {
           margin-left: 10px;
           font-size: 20px;
           text-decoration: none;
           color: white;
        }
    }
}